/**
  Выравнивание игрового поля по центру экрана */
html, body {
  height: 100%;
  text-align: center;
}
body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/**
  Относительные пути плохо. Предпочтительно использование рута или системы сборки */

#main-area {
  box-sizing: border-box;
  background: url(../img/background.png);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: -0.35em;
  height: 124px;
  width: 361px;
  padding: 10px 30px;
}

.score-row {
  background-color: #555555;
  border: 3px solid #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 5px 5px -5px #000000, inset 0 0 5px 0 #000000;
  display: inline-block;
  height: 27px;
  line-height: 29px;
  text-align: right;
  position: relative;
  color: #FFFFFF;
  padding: 0 10px 0 25px;
}

.score-row:before {
  content: '';
  position: absolute;
  background-image: url(../img/star.png);
  width: 35px;
  height: 38px;
  left: -15px;
  top: -5px;
}

.items-row {
  margin-top: 10px;
}

.items-row .item {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 60px;
  position: relative;
  cursor: pointer;
}

.items-row .item:active {
  padding-top: 2px;
}

.items-row .item:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 56px;
  background-image: url(../img/actions.png);
}

/**
  Обнуление нежелательных свойств */
.items-row .item[data-cooldown] {
  cursor: default;
  padding-top: 0;
}

.items-row .item[data-cooldown]:before {
  opacity: 0.5;
}

.items-row .item[data-cooldown]:after {
  content: attr(data-cooldown);
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  text-shadow: 2px 2px 1px #000000;
  position: absolute;
  width: 60px;
  line-height: 60px;
  z-index: 1;
  cursor: inherit;
}

/**
  Оптимизация: При использовании пре(пост)процессоров использовать цикл */
.items-row .item:nth-child(1):before {
  background-position: 0 0;
}

.items-row .item:nth-child(2):before {
  background-position: -60px 0;
}

.items-row .item:nth-child(3):before {
  background-position: -120px 0;
}

.items-row .item:nth-child(4):before {
  background-position: -180px 0;
}

/**
  Отображение данных не соответствует pixel perfect
  Отсутствие необходимого софта накладывает ограничения */
/**
  Пустая строка в конце документа для исключения некоторых ситуаций
  возникающих при операции слияния в некоторых системах контроля версий */
